.Navbar {
  height: auto;
  min-height: 10vh;
  padding: 1rem;
  /* background: linear-gradient(90deg, #84a0ae, #3d6e7f, #0f2027); */
  background-color: #84a0ae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: 2px solid #fff;
  box-shadow: 0 4px 8px #00000033;
  position: sticky;
  top: 0;
  z-index: 10;
}

.NavbarLeftSide {
  display: flex;
  align-items: center;
}

.NavbarLeftSide li,
.NavbarRightSide li {
  list-style: none;
  margin-left: 2rem;
}

.NavbarRightSide {
  display: flex;
  align-items: center;
}

.NavbarPath {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.25rem;
}

.NavbarPath:hover {
  color: #ffd700;
}

.NavbarPath.active {
  color: #ffd700;
  border-bottom: 2px solid #ffd700;
}

.NavbarLeftSide .NavbarLogo {
  text-decoration: none;
  width: 5rem;
}

.NavbarLogo .Navbar-WebStudioLogo {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.Navbar-WebStudioLogo:hover {
  transform: scale(1.1);
}

.NavbarHamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.NavbarHamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 2px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .Navbar {
    flex-wrap: wrap;
  }

  .NavbarRightSide {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .NavbarRightSide.active {
    display: flex;
  }

  .NavbarRightSide li {
    margin: 0.5rem 0;
  }

  .NavbarHamburger {
    display: flex;
  }
}
